
body,
html {
  margin: 0;
  padding: 0;
}

nav,
.navbar-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: fixed;
  z-index: 10;
  background-color: rgba(250, 166, 26, 0.9);
  width: 100%;
  height: 100%;left:0;
  text-align: center;
  display: table;
  color: white;
}

.nav-hide { display: none; }

/* nav ul {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0 !important;
} */
.nav ul {
    margin: 0 auto;
    padding: 145px 0;
    text-align: center;
    width: 210px;
}
nav ul li { list-style: none;line-height:65px;font-family: 'light'; }



nav ul li a {
  font-size: 26pt;
  color: inherit;
  font-family: 'light';
  text-decoration: none;
}

.navbar-toggle {
  top: 27px;
  width: 50px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
}

.bar1,.bar4,
.bar2,
.bar3 {border-radius:5px;
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  background-color: #808285;
  transition: all 0.3s ease-in-out;
}

.navbar-on .bar1,
.navbar-on .bar2, .navbar-on .bar4,
.navbar-on .bar3 { background-color: white; }
.lineg{border-bottom:1px solid #000; margin-bottom:60px;}

@media (min-width:320px) and (max-width:768px){
.map{margin-bottom:50px; margin-top:70px; width:100%;}
.img-gap{margin-top:50px;}
.img-gap1{margin-top:100px;}
.pp{width:90%; margin:auto; padding-bottom:50px!important;}
.fix{position:fixed; margin-bottom:100px;}
.mtop{margin-top:300px;}
.up {
    min-height: 449px!important;
}
.pdf-h1{font-size:24px;}
.pdf-ff{ border: 1px solid #ff0000!important;
    box-shadow: none;
    color: #333333!important;
    font-family: "light"!important;
    font-size: 19px!important;
    margin-top: 20px!important;
    padding: 5px 0!important;
    text-align: center!important;
    width: 100%;}

}
.no{margin:0px; padding:0px;}
.mar{margin-left:14px;}
.impact-up > li {
   font-family: 'light';
   font-weight:bold;
 }
 /*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden; 
    
    height: 150px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 90%;    
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/* jssor slider bullet navigator skin 03 css */
        /*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */
        .jssorb03 {
            position: absolute;
        }
        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            /*background: url('img/b03.png') no-repeat;*/
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb03 div { background-position: -5px -4px; }
        .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
        .jssorb03 .av { background-position: -65px -4px; }
        .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

        /* jssor slider arrow navigator skin 03 css */
        /*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        */
        .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
          /*  background: url('assets/a03.png') no-repeat; */
            overflow: hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03l.jssora03ldn { background-position: -243px -33px; }
        .jssora03r.jssora03rdn { background-position: -303px -33px; }