    <li>
    <%= link_to icon_for('icon-copy', t('surveys.index.duplicate')), "javascript:void(0);", :class => "duplicate Btn nrmlBtn", :data => { :survey_id => survey.id } if can? :duplicate, survey %>
    </li>
    <li>
    </li>
    <li>
    </li>
