<div class="container">

    <header>
    <h2>
    <%= link_to '', oauth_applications_path , :class => 'backBtn' %>
    <span>Edit application</span>
    </h2>

    </header>


    <%= render 'form', :application => @application %>
</div>
