<surveyquestion class="question-row" style="display:block;border-bottom:0px;" id="{{id}}">
  <surveyquestionchild  id="{{id}}">
    <span class="question-container">
      <div class="questionWrp">
        <span>{{question_number}})</span>
        <input type="text" name="content" value="{{content}}"/>
      </div>
      {{#finalized}}
      <%= render "templates/dummies/finalized_icon" %>
      {{/finalized}}
      {{^finalized}}
      <span class="form-top-right-actions">
        <a href="javascript:void(0)" class="delete_category">
        </a>
        <a data-tooltip="Copy"  href="{{duplicate_url}}" class="copy_question" data-method="post"></a>
      </span>
      {{/finalized}}
    </span>
    {{#id}}
    <div class="inline-add-btn" style="display:none;" >
      <%= render 'templates/question_types_dropdown' %>
      <button class='add_sub_question' href='#'>Add Sub-Question</button>
    </div>
    <!-- TODO -->
      <div class="addQuestion" style="margin-bottom:0;">
      
         <div class="question-types">
              <ul>
                <li>
                  <a href="javascript:void(0)" id="SingleLineQuestion">Single Line</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="RadioQuestion">Radio</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="MultilineQuestion">Multiline</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="NumericQuestion">Numeric</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="DateQuestion">Date</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="MultiChoiceQuestion">Multi-choice</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="DropDownQuestion">Drop Down</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="PhotoQuestion">Photo</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="RatingQuestion">Rating</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="">Sub-Category</a>
                </li>
                {{^has_multi_record_ancestor}}
                <li>
                  <a href="javascript:void(0)" id="MultiRecordCategory">Sub-MultiRecord</a>
                </li>
                {{/has_multi_record_ancestor}}
              </ul>
            </div>
        <a href="#" class="add-question-btn"></a>
      <span class="addQuestionText">Click here to add a subquestion</span>
    </div>
    <div style="display:none;"  class="inline-add-btn">
      <button class='add_sub_category' data-type="" href='#'>Add Sub-Category</button>
    </div>
    {{^has_multi_record_ancestor}}
    <div style="display:none;"  class="inline-add-btn">
      <button class='add_sub_multi_record' data-type="MultiRecordCategory" href='#'>Add Sub-MultiRecord</button>
    </div>

    {{/has_multi_record_ancestor}}
    {{/id}}
    
    {{^id}}
    <%= render 'templates/loading' %>
    {{/id}}
    <%= render "templates/questions/category_finalized_message" %>
  </surveyquestionchild>
</div>
