<input type="text" value="{{content}}" data-id="{{id}}" class="option"></input>
  {{#id}}
    <button style="display:none;" class='add_sub_question button' href='javascript:void(0);'>Add</button>
    <div class="addQuestion" style="margin-bottom:0; padding:0px">
      
         <div class="question-types">
              <ul>
                <li>
                  <a href="javascript:void(0)" id="SingleLineQuestion">Single Line</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="RadioQuestion">Radio</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="MultilineQuestion">Multiline</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="NumericQuestion">Numeric</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="DateQuestion">Date</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="MultiChoiceQuestion">Multi-choice</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="DropDownQuestion">Drop Down</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="PhotoQuestion">Photo</a>
                </li>
                <li>
                  <a href="javascript:void(0)" id="RatingQuestion">Rating</a>
                </li>
                 <li>
                  <a href="javascript:void(0)" id="">Sub-Category</a>
                </li>
                {{^has_multi_record_ancestor}}
                <li>
                  <a href="javascript:void(0)" id="MultiRecordCategory">Sub-MultiRecord</a>
                </li>
                {{/has_multi_record_ancestor}}
              </ul>
            </div>
        <a href="#" class="add-question-btn"></a>
    </div>

    <a class='delete_option delete-option icon-btns' href='javascript:void(0);'></a>

    {{^has_multi_record_ancestor}}

    {{/has_multi_record_ancestor}}
    
  {{/id}}
  {{^id}}
  {{/id}}
<div><br></div>

<%= render "templates/questions/option_finalized_message" %>
